@model CakeStore.Models.CakeIngridients

@{ ViewData["Title"] = "Details"; }

<h2>Details</h2>

<div>
    <h4>Cake_Ingredients</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ingredient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ingredient.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cake)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cake.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
